{% extends 'base.html.twig' %}

{% block title %}Photo/Vidéo{% endblock %}

{% block main %}
<!-- Gallery -->
<div class="row margin-top">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="img/photo/zed1.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
  
      <img
        src="img/photo/storm2.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="img/photo/Than15.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Mountains in the Clouds"
      />
  
      <img
        src="img/photo/cooperativemai1.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="img/photo/Arnaud28.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />
  
      <img
        src="img/photo/Gorgar14.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="img/photo/justinePhotographie.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />
  
      <img
        src="img/photo/cooperativemai2.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park"
      />
    </div>
    
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="img/photo/Galati.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />
  
      <img
        src="img/photo/Groupe15.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park"
      />
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="img/photo/Storm13.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />
  
      <img
        src="img/photo/Groupe7.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="img/photo/fuzzyZed.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />
  
      <img
        src="img/photo/zed20.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park"
      />
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="img/photo/Storm9.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />
  
      <img
        src="img/photo/Than17.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park"
      />
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="img/photo/Zed29.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />
  
      <img
        src="img/photo/scene.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="img/photo/cooperative5.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="img/photo/cooperative6.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="img/photo/cooperative19.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />
    </div>
  </div>
  <!-- Gallery -->
{% endblock %}
