{% extends 'base.html.twig' %}

{% block title %}Photo/Vidéo{% endblock %}

{% block main %}
<div class="margin-top text-center">
<iframe class="embed-responsive"  width="560" height="315" src="https://www.youtube.com/embed/_07sPRN5kFc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315"  src="https://www.youtube.com/embed/XBGBxTtFs7Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/64o1xGk1oxs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315"  src="https://www.youtube.com/embed/Vvt3Uemhg9I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<!-- Gallery -->
<div class="row margin-top ">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="img/photo/zed1.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="zed"
      />
  
      <img
        src="img/photo/storm2.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="storm"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="img/photo/Than15.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Than"
      />
  
      <img
        src="img/photo/cooperativemai1.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="coopérative de mai"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="img/photo/Arnaud28.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Fuzzy"
      />
  
      <img
        src="img/photo/Gorgar14.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Gorgar"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="img/photo/justinePhotographie.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="photo du groupe astero-h"
      />
  
      <img
        src="img/photo/cooperativemai2.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="coopérative de mai"
      />
    </div>
    
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="img/photo/Galati.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Galati"
      />
  
      <img
        src="img/photo/Groupe15.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="photo du groupe astero-h"
      />
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="img/photo/Storm13.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="storm"
      />
  
      <img
        src="img/photo/Groupe7.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="photo du groupe astero-h"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="img/photo/fuzzyZed.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Fuzzy"
      />
  
      <img
        src="img/photo/zed20.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="zed"
      />
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="img/photo/Storm9.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Storm"
      />
  
      <img
        src="img/photo/Than17.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Than"
      />
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="img/photo/Zed29.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Zed"
      />
  
      <img
        src="img/photo/scene.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="scene astero-h"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="img/photo/cooperative5.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="coopérative de mai"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="img/photo/cooperative6.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="coopérative de mai"
      />
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="img/photo/cooperative19.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="coopérative de mai"
      />
    </div>
  </div>
  <!-- Gallery -->
 
{% endblock %}
