    *{
        margin: 0;
        padding: 0;
        border: 0;
        font-family: 'Kdam Thmor Pro', sans-serif; /*police kdam thmor Pro pour tous le site */
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        color: white;
        scroll-behavior: smooth;


    }

 #formulaire{
    position: relative;
    width: 500px;
    margin: 0 auto;
 }

    /* Astero-h */
    #logotest
    {
        position: relative;
        height: 600px;
    }

  
/*image de fond du site */
#imageDeFond {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1; /*pour que ça passe en dessous */
    }


/* les différents réseaux (youtube,spotify,deezer) */
.reseaux{
    position: relative;
    margin-bottom: 10px;
}
.container {
    display: flex;
    width: 450px;
}

/*pour pas que le contenu passe en dessous de la barre de navigation */
.margin-top{
    position: relative;
    margin-top: 80px;
}

/*date de la tournée 2022 */
.tournee{
    position: relative;
    width: 500px;
}


.date{
   position: relative;
   height: 500px;
   margin-top: 15px;
   margin-bottom: 15px;
   box-shadow: 12px 12px 25px 25px  #0048ff33;
}

.brd{
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
 
}

.bordureHistoire{
    background-color:#606060;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    padding: 1em;
   
}

/* pour que le texte soit visible */
p{
    text-shadow: 1px 1px 2px black;
}






.fuzzyEpisode{
    position: relative;
    width: 300px;
    right: 500px;
    bottom: 250px;
}

.Episode{
    display: flex;
    flex-direction: column; 
    
}



/* pour centrer des images */
.contenant {
    position: relative;
    text-align: center;
  }
  



  /*pour que les image soit en ligne */
  .alignement-image{
    display: flex;
    justify-content: space-between;
  }



  .fuzzy{
    position: relative;
    right: 270%;
    height: 250px;
  }



  .barreTron{
      position: relative;
      width: 1000px;
  }
      /* Nos mémoires */
      .memoire{
          position: relative;
          margin-top: 50px;
          width: 500px;
      }
      .cadreTron{
          position: relative;
          left: 20px;
          width: 400px;
      }
      
      .cadreTronZed{
        position: relative;
        left: 400px;
        height: 250px;
    }

      .cadreTronFuzzy{
        position: relative;
        left: 450px;
        height:250px;
    }

    .Gorgar{
        position: relative;
        height: 250px;
        bottom: 250px;
        left: 590px;
    }
            /* cadre histoire */
      .histoire{
          position:relative;
          width: 800px;
          right: 400px;
        }

        .texte_centrer{
            font-size: 24px;
        }


        .remonte{
            position: relative;
            bottom: 250px;
        }

        #genese{
            position: relative;
            bottom: 250px;
            left: 450px;
            
        }
        
        #lienGenese{
            position: relative;
            right: 125px;
            background-color: black;
            text-decoration: none;
            color: #fff;
            font-size: 24px;
        }

.GorgarHistoire{
    position: relative;
    width: 600px;
    bottom: 255px;
    left: 450px;
}

.rezise{
    height: 70px;
}

.titreAlbum{
    position: relative;
    height: 250px;
    left: 30%;
}

.navbar-nav > li{
    margin-left:70px;
    margin-right:70px;
  }

/*responsive design*/
@media  screen and (max-width : 1700px){
    /*logo astero-h*/
    #logotest
    {
        position: relative;
        height: 150px;
    }
    

    /*barreTron sur la page histoire */
    .barreTron{
        position: relative;
        width: 450px;
    }

    .memoire{
        position: relative;
        margin-top: 55px;
        width: 300px;
    }
    .cadreTron{
        position: relative;
        left: 30px;
        width: 150px;
    }

      /* cadre histoire */
  .histoire{
    position:relative;
    width: 500px;
    right:  150px;
  }
  .date{
  width: 90%;
}
.tournee{
    width: 50%;
}


.fuzzyEpisode{
    position: relative;
    width: 150px;

    right: 0;
}

.cadreTronFuzzy{
    position: relative;
    left:50%;
    height: 150px;
}
.fuzzy{
    right: 250%;
  }

  .GorgarHistoire{
    position: relative;
    left: 0;
    width: 500px;
}

 
}


   
       
