{% extends 'base.html.twig' %}

{% block title %}Histoire{% endblock %}

{% block main %}
    
    <div class="contenant">
        <div class="text-center">
            <img class="memoire" src="img/Mémoires.png" >
            </div>
      </div>

      <!--texte d'intro-->
<p class="text-center">Qui est ZED, l’intriguant capitaine de l’ASTERO-H ?

    A quelle espèce appartient THAN, le sage de la constellation d’Orion ?
    
    D’où vient STORM, le bondissant pilote ?
    
    Comment GORGAR est devenu démon ?
    
    Quelles sont les réelles intentions de FUZZY, le Gobelin?
    ​</p>
    <div class="text-center">
   <img src="img/barreTron.png" alt="barreTron" class="barreTron">
        </div>

        <div class="text-center">
        <a href="{{ path('app_zed') }}"><img src="img/cadreTronZed.png" alt="cadreTronZed" id="cadreTronZed"></a>
        </div>
        
        <div class="text-center">
        <img src="img/histoire.png" alt="histoire" class="histoire">
        </div>

        <div class="text-center">
            <img src="img/barreTron.png" alt="barreTron" class="barreTron">
                 </div>
                           <div class="text-center">
                    <img src="img/FuzzyHistoire.png" alt="fuzzy" id="fuzzy">
                         </div>
                       
                         <div class="text-center">
                            <a href="https://youtu.be/KR01kQ8eBLc?list=PLnB2RHYD87qGHpJUPUX37B4-EfpPJzXJJ"><img src="img/épisode1.png" alt="épisode1" class="episode"></a>
                         </div>
                         <div class="text-center">
                            <a href="https://youtu.be/V8mswnO1a9k?list=PLnB2RHYD87qGHpJUPUX37B4-EfpPJzXJJ"><img src="img/épisode2.png" alt="épisode2" class="episode"></a>
                         </div>
                         <div class="text-center">
                            <a href="https://www.youtube.com/watch?v=jXqnTHNaKeA&list=PLnB2RHYD87qGHpJUPUX37B4-EfpPJzXJJ&index=4"><img src="img/épisode3.png" alt="épisode3" class="episode"></a>
                         </div>

                         <div class="text-center">
                            <a href="https://www.youtube.com/watch?v=KR01kQ8eBLc&list=PLnB2RHYD87qGHpJUPUX37B4-EfpPJzXJJ"><img src="img/cadreTronFuzzyHistoire.png" alt="fuzzy Histoire" id="cadreTronFuzzyHistoire"></a>
                         </div>

                         <div class="text-center">
                            <img src="img/barreTron.png" alt="barreTron" class="barreTron">
                                 </div>
                         </div>
                <div class="text-center">
                    <a href="{{path('app_gorgar')}}"><img src="img/Gorgar.png" alt="Gorgar" id="Gorgar"></a>
                 </div>
                 <div class="text-center">
                    <img src="img/GorgarHistoire.png" alt="Gorgar   Histoire" id="GorgarHistoire">
                 </div>

                 <div class="text-center">
                    <img src="img/barreTron.png" alt="barreTron" class="barreTron">
                         </div>

                         <div class="text-center">
                            <img src="img/geneseAsteroH.png" alt="genèse" id="genese">
                                 </div>

                                 <div class="text-center boutton-top">
                                    <a href="{{ path('app_genese') }}" id="boutton">lire plus</a>
                                         </div>
                                 
    {% endblock %}
