{% extends 'base.html.twig' %}

{% block title %}Histoire{% endblock %}

{% block main %}
    
    <div class="contenant">
        <div class="text-center">
            <img class="memoire" src="img/Mémoires.png" >
            </div>
      </div>

      <!--texte d'intro-->
<p class="text-center">Qui est ZED, l’intriguant capitaine de l’ASTERO-H ?

    A quelle espèce appartient THAN, le sage de la constellation d’Orion ?
    
    D’où vient STORM, le bondissant pilote ?
    
    Comment GORGAR est devenu démon ?
    
    Quelles sont les réelles intentions de FUZZY, le Gobelin?
    ​</p>

    <!--barre de séparation-->
    <div class="text-center">
        <img class="img-responsive barreTron" src="img/barreTron.png" />   
    </div>
    <!--alignement des images-->
    <div class="alignement-image">
    <img src="img/cadreTronZed.png" alt="cadreTronZed" class="cadreTronZed" />
 <img src="img/Histoire.png" alt="hist" class="histoire"/>
       
   
      </div>
        </div>
        <div class="text-center decaler">
            <img class="img-responsive barreTron" src="img/barreTron.png" />   
        </div>

        <div class="alignement-image">
        <img src="img/FuzzyHistoire.png" alt="cadreTron" class="cadreTronFuzzy" />
    

        <div class="contenant">
            <div class="text-center">
                <!--Histoire Fuzzy-->
                <img src="img/cadreTron.png" alt="histoireFuzzy" class="fuzzy"/>
         
                </div>
        <div class="Episode">
            <a href="https://www.youtube.com/watch?v=KR01kQ8eBLc&t=12s"><img src="img/épisode1.png" alt="EpisodeFuzzy" class="fuzzyEpisode"/></a>
            <a href="https://www.youtube.com/watch?v=V8mswnO1a9k"><img src="img/épisode2.png" alt="EpisodeFuzzy" class="fuzzyEpisode"/></a>
            <a href="https://www.youtube.com/watch?v=jXqnTHNaKeA">
            <img src="img/épisode3.png" alt="EpisodeFuzzy" class="fuzzyEpisode"/></a>
        </div>
          </div>
          </div>
        
   
    {% endblock %}
