{% extends 'base.html.twig' %}

{% block title %}Histoire{% endblock %}

{% block main %}
<h1 class="margin-top text-center"> ASTERO-H, LA GENÈSE</h1>
<div class="bordureHistoire ">
    <p >21e siècle. Le monde a subi un profond changement. La 3e guerre mondiale a éclatée. ​</p>
    <p>Mais c’est une guerre silencieuse, ésotérique, où les coups se jouent en coulisses. Les médias, à la botte des différents acteurs majeurs de ce conflit,  servent à camoufler leurs agissements auprès du peuple Terrien. Les enjeux politiques, économiques, gouvernementaux ont depuis longtemps pris le pas sur l’humanité. Les puissants se sont livrés à une guerre sans merci, avec la Terre pour terrain de jeu, et les hommes pour pions à sacrifier.</p>
    <p>Ils règnent en maîtres, sans foi ni loi, tantôt complices, tantôt ennemis ; pour servir leurs propres intérêts. Le peuple Terrien, décimé, réprimé, a perdu tout espoir d’avenir, et évolue désormais dans un monde sans joie, à l’air pollué, aux paysages tristes, dans le deuil permanent de ses pairs qui meurent chaque jour au nom de cette guerre qui n’a jamais été la leur.</p>
    <p>Les plus riches se sont enfuis. Ils ont quittés la terre pour d’autres planètes, rendues habitables depuis des décennies dans le plus grand secret. Quelques débrouillards se sont cachés parmi eux et ont réussis au prix de nombreux sacrifices à rejoindre ces planètes eux aussi. Certains afin de finir une existence reclus de tout. D’autres pour organiser une immigration massive et sauver les leurs.</p>
    <p>
        Le gouvernement Terrien, constitué d’hommes puissants de divers pays ; représente l’autorité absolue de la galaxie. Dictatorial avec le peuple, laxiste avec les terroristes ; il a assis de cette façon sa suprématie. Toutes les forces de l‘ordre, ainsi que la plupart des mercenaires et malfrats, agissent en son nom. La situation du peuple est désespérée, résolue…et l’emprise du gouvernement est totale.</p>
    <p>
        Jusqu’à ce qu’un de ses vaisseaux les plus perfectionnés, l’ASTERO-H, ne soit dérobé…</p>
    </div>
    



{% endblock %}
