{% extends 'base.html.twig' %}

{% block title %}Zed Le Rouge{% endblock %}

{% block main %}
<h2 class="text-center margin-top">
    Qui est Zed le Rouge?
</h2>

<img src="img/zed.webp" class="rounded mx-auto d-block" alt="zed">

<p class="text-center">Zed est le chanteur du groupe Astero-h il traverse les galaxies pour raviver nos souvenirs d'enfance à travers les génériques de notre enfance</p>

<p class="text-center">Rejoins le sur ses différents réseaux pour suivre ses aventures:</p>
<div class="container text-center ">
  
    <div class="col-md-4 col-xs-12"><a href="https://www.facebook.com/zedlerougeofficiel"><img class="rezise" src="img/facebook.webp"></a></div>
    <div class="col-md-4 col-xs-12"><a href="https://www.instagram.com/zedlerouge/"><img class="rezise" src="img/instagram.webp"></a></div>
    <div class="col-md-4 col-xs-12"><a href="https://www.twitch.tv/zed_lerouge"><img class="rezise" src="img/twitch.webp"></a></div>
    <div class="col-md-4 col-xs-12"><a href="https://www.tiktok.com/@zed_le_rouge"><img class="rezise" src="img/tiktok.webp"></a></div>
    <div class="col-md-4 col-xs-12"><a href="https://www.youtube.com/channel/UCRBnewbdy3tjnsjfzCvEUTA"><img class="rezise" src="img/youtube.webp"></a></div>
  </div>
{% endblock %}
