{% extends 'base.html.twig' %}

{% block title %}Tournee{% endblock %}

{% block main %}
<div class="contenant margin-top">
    <div class="text-center">
      <img class="tournee" src="img/Tournee.png" >
        </div>
        
  <!--date de tournée-->
  <p>12/13 Fevrier: Avignon geek Expo (84)​</p>
  <p>27 Fevrier: FanaManga, Yzeure (03)​</p>
  <p>3/4 avril: JapaN'Game - Brives charensac (43)</p>
  <p>30 avril: ASFO ORANGE (13)</p>
  <p> 4/5 Juillet: PériGeek - Périgueux </p>
  <p>21 MAI : JAPAN &CO - St etienne (42)</p>
  <p>22 Mai: Alti-Geek - vergongheon (43)</p>
  <p>25/26 juin: perigeek (24)</p>
  <p>24 aout: le mont dore (63)</p>
  <p>10/11 Septembre: japan pop show - troyes</p>
  <p>17 septembre: aurillac (15)</p>
  <p>1/2 octobre: tgs - pau</p>
  <p>8/9 octobre: pontageek - pontalier</p>
  <p>22/23 octobre: japan pop show - bourges (18)</p>
  <p>12/13 novembre Japan pop show Nice (06)</p>
  <p>3/4 décembre japan pop show saint-Malo (35)</p>
  
{% endblock %}
