{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}

    <!--texte de présentation du groupe-->
    <div class="margin-top text-center">
      <img src="./img/Astero-h.png" alt="logo" id="logotest">
    <p class="text-center">ASTERO-H, c’est 5 pirates déjantés, rockeurs au grand cœur, ayant gardés leur âme d’enfant !
      Au gré de leurs aventures, replongez avec nostalgie dans les chansons qui ont marqués votre mémoire, en les redécouvrant à la sauce Rock !</p>
      <p class="text-center">Au gré de leurs aventures, replongez avec nostalgie dans les chansons qui  ont marqués votre mémoire, en les redécouvrant à la sauce Rock !</p>
    </div>
    <div class="text-center">
      <!--video présentation du groupe-->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/aBlegYqq8cg?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>

   </div>
    <p class="text-center ">Le « ROCK TV SHOW » d’ASTERO-H,
  c’est un spectacle pour ceux qui sont  vieux dehors, mais qui sont restés jeunes dedans (et aussi pour ceux qui  sont encore jeune partout) !</p>
  </div>
  <p class="text-center"> Les classiques du Rock te donnent la patate? Les génériques TV cultes te  donnent le sourire? Mélange les deux, et tu obtiens « ASTERO-H » !</p>
 
</div>
<!--les différents réseaux sociaux-->
<div class="container reseaux ">
  
  <div class="col-md-4 col-xs-12"><a href="https://www.deezer.com/fr/artist/15171969"><img src="img/deezer.jpg"></a></div>
  <div class="col-md-4 col-xs-12"><a href="https://www.youtube.com/channel/UCcEaaG_ZRWBSAp8foy_LzZw"><img src="img/youtube.jpg"></a></div>
  <div class="col-md-4 col-xs-12"><a href="https://open.spotify.com/artist/4R15nQ1tIZGKIq7Z8BddVI"><img src="img/spotify.jpg"></a></div>
  <div class="col-md-4 col-xs-12"><a href="https://music.apple.com/album/1396238331"><img class="rezise" src="img/appleMusic.webp"></a></div>
</div>
<p class="text-center">Rejoins le reseau « ASTERO-H » pour vivre leurs aventures au plus près et en temps réel ! </p>

<div class="container reseaux text-center">
  
  <div class="col-md-4 col-xs-12"><a href="https://www.facebook.com/AsteroHGeekRock"><img class="rezise" src="img/facebook.webp"></a></div>
  <div class="col-md-4 col-xs-12"><a href="https://www.instagram.com/astero_h_officiel/"><img class="rezise" src="img/instagram.webp"></a></div>
  <div class="col-md-4 col-xs-12"><a href="https://discord.gg/WYfaYwe6fg"><img class="rezise" src="img/discord.png"></a></div>

</div>
<!--GALATIC TOUR 2022-->
<div class="contenant">
  <div class="text-center">
    <img class="tournee" src="img/Tournee.png" >
      </div>
      
<!--date de tournée-->
      <div class="contenant">
        <div class="text-center">
          <img class="date" src="img/date.png" >
            </div>








{% endblock %}


