{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block main %}
    <h2 class="margin-top text-center">Tu organises un concert, une convention, un évenement ? Tu as une question ? Ça se passe ici :</h2>

    <h2 class="margin-top text-center">Organisateurs, médias, professionnels du spectacle, public: vous avez une question? Contactez-nous par ce formulaire interstellaire et votre message nous parviendra par delà les étoiles!</h2>
    

    {% endblock %}

