{% extends 'base.html.twig' %}

{% block title %}Albums{% endblock %}

{% block main %}
<h1 class="margin-top text-center"> Albums</h1>
<div class="text-center">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/0FH7696JxmZf36CsDo4yhF?utm_source=generator" width="30%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/7IzJs5ZtYTSGdxvjQbFSwl?utm_source=generator" width="30%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/22qBaqE2p0bmUdpDg2SgK9?utm_source=generator&theme=0" width="30%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
</div>

    
    



{% endblock %}
