{% extends 'base.html.twig' %}

{% block title %}Albums{% endblock %}

{% block main %}
<h1 class="margin-top text-center"> Albums</h1>
<div class="text-center">
    <img src="img/missionOne.jpg">
<img src="img/Vol2.png">
<img src="img/backToEarth.png">
</div>

    



{% endblock %}
