{% extends 'base.html.twig' %}

{% block title %}Hello GorgarController!{% endblock %}

{% block main %}
<h1 class="margin-top text-center">La légende du roi Gorgar</h1>
<div class="bordureHistoire ">
    <p>
        Il y a plusieurs siècles, au royaume celte, où régnait prospérité et sérénité, le Roi Arzhel 1er dirigeait son peuple, d’une main juste et puissante. De culte Païens, les Celtes vénéraient la nature, vivaient en parfaite harmonie, et dans une totale autarcie.
    </p>
    
    <p>
        Avant tout éleveurs, cultivateurs, ou marchands, ils savaient aussi prendre les armes quand la situation l’exigeait ; et se montraient volontiers querelleurs et même bagarreurs s’ils voyaient une offense à leur honneur. Leur véhémence était bien souvent de courte durée, et leur conflit se réglait le plus souvent dans une orgie de malte et de houblon minutieusement brassé.
    </p>
    
    <p>
        Les Celtes étaient donc pacifistes mais plutôt cabochards. Ils pouvaient très vite s’emporter, et c’est sachant cela, que leur Roi se faisait respecter en leurs imposant une discipline de fer. Pour y parvenir, il faisait appel à son bras droit, Général de son armée, l’inflexible Gorgar XES 1er, en qui il vouait une confiance et un respect total. Lui aussi de descendance Royale, il avait renoncé à son statut privilégié pour se mettre au service de la sécurité de son peuple, préférant l’action du terrain à la passivité de la gouvernance. Toutefois, il le savait, le Roi Arzhel n’avait point eu de descendance, et lorsque le moment viendrait, c’est Gorgar qui monterait sur le trône pour prendre sa succession.
    </p>
    
    <p>
        Ainsi, lorsque le vieux Roi Celte rendit son dernier soupir, après un règne long et exemplaire, Gorgar, pris sa suite, avec la même pugnacité.

 
    </p>
    
    <p>
        Le peuple Celte aimait et respectait son nouveau Roi autant que l’ancien. Les contrées du Nord, sous sa gouvernance, étaient prospères, sécurisées, et on y vivait en toute abondance.
    </p>
    
    <p>
        Mais une ombre arriva bientôt des Terres du Sud. Une armée, constituée de fanatiques, de bourreaux, d’inquisiteurs et de soldats peu vertueux, avaient eus vent des Celtes, de leurs pratiques, de leurs coutumes et de leur Dieu Païen. Aussi, ces derniers furent pris pour cible, cette rafle ayant pour but de convertir ces « hérétiques » à la pensée de leur Dieu unique. Les Celtes, bien que vaillants combattants, périr les uns après les autres, par manque d’organisation militaire, et d’effectif. De cette immense purge, ne restaient que quelques fuyards, et le Roi Gorgar et sa famille.
    </p>
    
    <p>
        Acculé, le Roi refusa toute coopération, bien décidé à perdre la vie plutôt que ses convictions.
    </p>
    
    <p>
        Il fut torturé, écartelé, et même éventré, tout cela devant les yeux de sa femme Alana, de sa fille Tamara et de son fils Kenneth. Mais Gorgar s’accrochait encore à la vie. Pour ses bourreaux, il était important de faire plier le Roi à ses idéaux, pour s’en servir ensuite comme message auprès du reste de la population.

        Bien décidés à employer tous les moyens pour parvenir à leur fin, ils décidèrent d’enterrer Gorgar jusqu’au cou, et de brûler vifs devant ses yeux, sa femme et ses enfants. Pendant un temps qui lui sembla infini, il vit sa famille disparaitre dans les flammes, ses tortionnaires l’ayant abandonné là, à son sort, impuissant. Ce n’est qu’après de longs jours, que, devant la vision des êtres aimés en cendre, qu’il perdit connaissance.
    </p>

    <p>C’est alors qu’un être étrange, vieux et recouverts de haillons, qui aurait pu en d’autres temps être un druide, le sortit de sa torpeur. Ce dernier, se nommant Declan, lui offrit son secours, et le sortant de son piège, l’emmena chez lui pour le remettre sur pied, et lui offrir le moyen de se venger. Il lui parla du long périple qui l’attendait, jusqu’au pays du soleil levant, où une forêt maudite nommée « Aokigahara » lui apporterait des réponses.

    </p>
    <p>Gorgar accompli ce voyage sans tarder, ruminant sa vengeance tout le long du chemin. Arrivé à l’orée de cette forêt, sentant déjà la moiteur de la mort, il s’engouffra avec pugnacité dans l’entremêlement de branches, de lianes, et d’une brume tellement épaisse qu’elle pouvait presque être palpée. Il avançait sans relâche, droit devant lui, guidé par son instinct de Païen, faisant confiance à la nature. C’est alors qu’il comprit. Il n’était pas là pour trouver quelque chose ; mais pour DONNER quelque chose : Son âme. Il le savait ; il devait mourir de sa propre main pour rencontrer le Maitre des ténèbres, cette entité que combattaient férocement ses ennemis qui avaient retirés la vie de son peuple et de ses proches ; et faire un pacte avec lui, et ainsi accomplir sa vengeance.</p>
    <p>Gorgar saisit son épée, et sans hésitation, se transperça le cœur. Un tourbillon de flamme, de fumée et d’éclairs l’entoura alors. Son corps inanimé se sentit transporté comme dans une autre dimension. Il était toujours au même endroit, entouré des arbres et des feuilles de la foret maudite, mais elle lui paraissait différente. Beaucoup plus sombre, il y régnait une chaleur étouffante. Le sol semblait constitué de chaire en décomposition, des mains semblaient vouloir sortir de sous l’écorce carbonisée des arbres, et des cris de supplice lui transperçait les tympans.</p>
    <p>La créature immense et bouillonnante qui se tenait devant lui, ouvrit une large mâchoire munie de millier de dents acérées, et lui dit :</p>
    <p>Je peux t’offrir de quoi accomplir ta vengeance, mais toi, qu’as-tu à m’apporter en échange ?</p>
    <p>Je te donne toutes les âmes que je vais ôter à la vie. Tous ces hommes de « dieu », je vais te les envoyer un par un, et tu disposeras d’eux comme bon te semblera. Dans cette tâche, je serais ton fidèle serviteur.</p>
    <p>Cela me convient. Voici ce que je peux faire pour toi : à compter de ce jour, tu deviens un de mes démons. Comme chacun de mes fils, tu auras droit à 666 résurrections. La marque sur ton bras gauche tiendra ce compte à jour, et celle sur ton bras droit affichera ton appartenance.</p>
    <p>Des jets de flamme sortirent de sa bouche, et allèrent fusionner avec l’épée et la hache de Gorgar.</p>
    <p>Chaque vie qui sera ôtée par ses lames me seront automatiquement envoyées. Je compte sur toi pour être généreux dans cette tâche. Maintenant vas, je me languis déjà de gouter aux âmes que tu vas m’offrir.</p>
    <p>Le Maitre des ténèbres disparut, en même temps que ce monde parallèle dans lequel Gorgar flottait quelques instants auparavant, et il se retrouva sur le sol de la forêt, au milieu des feuillages. Mais cette fois, il ne sentait plus le froid du vent. Il ne sentait plus l’humidité des bois. D’ailleurs, il ne sentait plus rien du tout. Un seul sentiment persistait en lui : le goût de la mort. Il avait BESOIN de tuer.</p>
    <p>Il entreprit alors le trajet du retour, pressé de se venger de ses bourreaux. Mais il n’attendit pas d’être revenu sur ses Terres pour faire parler ses lames. Voleurs, assassins, violeurs, et tous ceux qui défendaient ce « Dieu » qui avait causé la perte de son peuple, furent envoyés dans les ténèbres sans ménagement. Le chemin de Gorgar fut alimenté de plus d’une centaine de morts. Au fur et à mesure qu’il s’approchait du but, sa soif de tuer allait crescendo. Ce qu’il ne savait pas, c’est que les inquisiteurs qui avaient pris sa place et dans son royaume avaient eu vent de sa mission. Le vieux Declan avait été retrouvé et torturé, et il avait fini par parler, pensant échapper à la mort. Ce qui ne fut bien évidemment pas le cas, et le même sort lui fut réservé qu’a ces congénères. Mais maintenant, c’était plus de 20000 hommes qui attendaient Gorgar devant sa cité, prêts à le renvoyer enfin en enfer.</p>
    <p>Les Cinq prêtres qui commanditaient tout ce massacre restaient bien à l’abri derrière les immenses rangées d’archers et autres soldats. Mais quand Gorgar fut sur le champ de bataille, sa voix prit alors une ampleur jamais vue pour un seul homme. Il s’adressa à eux :</p>
    <p>Sales fils de chien, croyez-vous que je puisse craindre votre armée ? Je ne crains plus la mort, et vous allez payer pour ce que vous avez fait subir à mon peuple et à ma famille !</p>
    <p>Gorgar brandit alors ses armes au-dessus de sa tête, en poussant un cri qui n’avait plus rien d’humain, et qui resonna loin à travers les kilomètres de son territoire.</p>
    <p>Il perçut la peur qui s’emparait déjà des soldats de la première ligne de front. Sans plaisir ni sentiment, il fondit sur eux, faisant tournoyer ses armes ensorcelées. Il fut vite sur les premiers soldats, et rapidement, une tête vola, puis une autre, un torse fut tranché, des cœurs furent transpercés. Gorgar se battait sans ressentir ni fatigue ni regret. Alors qu’il se débattait au milieu d’une centaine de combattants, une flèche tirée de loin l’atteignit dans le dos, et le transperça de part en part. Gorgar posa un genou au sol, devant les regards pétrifiés de ses assaillants qui avaient cessés les coups, plein d’espoir de voir le démon périr sous ce coup mortel. Mais Gorgar saisit la pointe de la flèche, et la fit sortir entièrement par son poitrail. Ensanglanté, il la jeta au sol, un sourire aux lèvres. Une marque apparue sur son bras gauche…. Et il reprit de plus belle le combat.</p>
    <p>Certains de ses assaillants prirent la fuite devant cette vision terrifiante. La plupart continuaient le combat avec l’énergie du désespoir dans les yeux, totalement terrifiés. Mais ils continuaient de faire comme ils avaient toujours fait : obéir aux ordres de leurs prêtres.</p>
    <p>Continuez la bataille, au nom de dieu, renvoyez ce démon en enfer et sauvez votre âme !</p>
    <p>C’est alors qu’une salve de pierres provenant de catapultes arriva depuis l’autre côté de l’enceinte. Des dizaines de rochers atterrirent sur le champ de bataille, tuant plusieurs soldats. Une des plus grosses jaillit juste au-dessus de Gorgar, et avant qu’il n’ait le temps de réagir, s’effondra sur lui.

        Le calme revint durant quelques secondes, chaque acteur de cette bataille se disant que cette fois, le démon avait trépassé.
        
        Pourtant, l’énorme rocher roula lentement sur la coté, découvrant Gorgar, la bave aux lèvres, un scintillement sur le bras gauche. Toujours plus empli de haine, il laissa sa furie s’emparer totalement de lui, et continua son massacre. Cela dura des heures, peut-être même des jours, et Gorgar mourut plusieurs fois, mais un à un, il tua tout le monde, sans relâche, avec gourmandise. Il ne restait plus alors que les 5 Inquisiteurs, bien cachés dans la cité que Gorgar connaissait bien évidemment par cœur. Il ne mit pas longtemps à les dénicher. Et bien que ces derniers implorèrent leur dieu de toute leur force, la hache possédée leur arracha la tête à tous les cinq, les envoyant immédiatement auprès du Maitre des Ténèbres.</p>
    <p>Seul, dans le silence de la mort, Gorgar, apaisé, retourna sur le champ de bataille, devant la cité, pour constater son œuvre. Voyant les cadavres qui s’amoncelaient, il eut enfin un sentiment de satisfaction. Il n’était plus le valeureux roi qu’il avait été. Sinon cette vision l’aurait anéanti. Il le savait, il n’était désormais qu’une carapace vide. Seul au milieu des corps, il s’adressa à la brume qui venait d’envelopper la plaine :

        Où est-il, votre dieu ? où est-il celui qui a conduit à tout ça ?</p>
    <p>Contre toute attente, une larme vient couler sur le visage de Gorgar. Il aurait tellement voulu que tout cela soit évité. Il ressentait maintenant tout le poids de la bêtise humaine. La haine qu’il avait développée dernièrement c’était changer en une chope de plomb qui pesait sur ses épaules. Il ressenti alors une grande lassitude. Resigné, il retourna dans son château. Toute la cité était maintenant plongée dans un brouillard épais. Le temps qui régnait sur son royaume était à l’image de ses pensées : un immense flou, vide et froid.

        En tant que Démon, il ne ressentait plus ni la faim ni le froid. Immortel, il avait accompli sa vengeance, mais le tribut à payer, c’était une éternité à vivre seul. Il revêtit son armure de cérémonie, son casque à corne, son kilt traditionnel, saisit ses armes et s’installa dans son Trône, prêt à accueillir le néant.
        
         </p>
    <p> 

        Il resta là, des jours, des années, peut-être même des siècles, la notion de temps l’ayant quitté depuis longtemps. La poussière s’accumulant dans le royaume, les corps inertes se changeant en squelettes.</p>
    <p>Mais un jour, un homme apparut devant lui. Il lui expliqua qu’il venait de loin, et qu’ils avaient des intérêts en commun.

        Je peux t’offrir une rédemption, dit-il. Rejoins-moi à bord de mon navire. Et si tu parviens à sauver autant de vie que tu en as ôté, tu retrouveras ton humanité, et tu pourras finir ta vie dans la paix.
        
        Qui es-tu, et d’où viens-tu ? demanda Gorgar d’un ton las.
        
        Je viens d’ici…et d’ailleurs, répondit l’étranger, avec un sourire malicieux. Mais ça serait trop long à t’expliquer tout cela ici. Viens avec moi, et j’aurais tout le temps de te dire tout ce que tu veux savoir.
        
        Gorgar parut hésiter. Il ferma les yeux, et eut l’apparition d’une vaste étendue noire, aux étoiles scintillantes. Cela lui rappela l’époque où il vivait en paix dans son royaume, lorsqu’il regardait le ciel avec son fils. Son fils…que penserait -il de lui maintenant, en voyant ce qu’il était devenu ?
        
        Cela faisait trop longtemps qu’il se prostrait ici. Il le savait, plus rien ne l’y attendais. Il se dit au fond de lui-même :
        
        Alana, Kenneth, Tamara ; je sais ce que vous auriez attendu de moi. Je suis en ce monde pour faire le bien. Je vais retrouver ma mortalité, pour enfin pouvoir vous rejoindre un jour….</p>
    <p>L’étranger, voyant Gorgar en pleine réflexion, prit le pari de le sortir de ses pensées :

        Si tu changes d’avis, je te promets de te ramener ici quand tu voudras. En attendant, décides toi, car le temps presse, pour nous autres mortels…
        
        Gorgar se leva alors d’un bon, saisit ses armes, et partit à vive allure devant lui, le cliquetis de son armure brisant le silence ambiant. Alors qu’il passait l’immense porte de bois qui conduisait hors de la pièce, il parla sans se retourner :
        
        Tu ne m’as toujours pas donné ton nom, étranger…
        
        Derrière lui, l’homme trapu lui avait suivi le pas en toute hâte, et avec un sourire de satisfaction, lui répondit vivement :
        
        Je m’appelle Zed Lerouge, Camarade. Capitaine Zed Lerouge. Et tu es le bienvenu à bord…</p>

    </div>
{% endblock %}
